@import './blocks/*.sass'
@import './pages/*.sass'
@import './media.sass'

$colorMain:  #154430 
$colorGreen: #1E5A3E 
$colorLight: #F5F5F5
$colorWhite: #FFFFFF
$colorDark:  #333333

$colorGold:  #FFD700 
$colorBrown: #A0522D 
   
.inactive
    display: none

// default styles
.title
    color: $colorMain
    font-size: 2.618rem
    font-weight: bold
    text-transform: uppercase
    font-family: "Montserrat", sans-serif
    text-align: center
// welcome block
.welcome
    &__nav
        &-logo
            //background-color: $colorMain
        &-link
            &::after
                background-color: $colorMain
        &-links
            & > li
                list-style-type: none
    &__title
        color: $colorMain
        font-family: "Montserrat", sans-serif
    &__subtitle
        color: $colorMain
    &__tabs
        color: $colorLight
    &__tab
        &-number
            font-family: "Montserrat", sans-serif
            border-bottom: 1px solid $colorLight   

//reviews block
.reviews
    background-color: $colorLight
    color: $colorLight
    &__item
        border: 2px solid $colorMain
        background-color: $colorMain

//services block
.services
    &-item 
        background-color: $colorMain
        color: $colorLight
        &:hover 
            //.services-item__name
                color: $colorLight
            .services-item__button
                color: $colorLight
                background-color: $colorGreen
                border-color: $colorGreen
        &__image
            background-color: $colorLight
//about
.about
    &__inner
        &:nth-child(2n - 1)
            background-color: $colorMain
            color: $colorLight
    &__collab
        border: 2px solid $colorMain
//gallery block
.gallery
    background-color: $colorMain
    &__title
        color: $colorLight
    &__arrow
        //border-left: 2px solid $colorLight
        //border-top: 2px solid $colorLight
        background-color: transparent
                
        &::before
            border: 2px solid $colorLight
            border-left: none
            border-bottom: none
//feedback block
.feedback
    color: $colorLight
    &__inner
        background-color: $colorMain
    &__title
        color: $colorMain
//footer block
.footer
    background-color: $colorMain
    color: $colorLight
    &__logo
        background-color: $colorLight
    &__contact-img
        background-color: $colorLight
//servicesNav block
.services
    &-nav
        background-color: $colorMain
        color: $colorLight
        &__logo
            background-color: $colorLight
        &__link
            &::after
                background-color: $colorLight
//service page
.service
    &-item
        background-color: $colorMain
    &-description
        &__inner
            color: $colorLight
    &-tab
        color: $colorMain
        font-weight: bold
        &:hover
            background-color: $colorGreen
            color: $colorLight
        &--active
            background-color: $colorMain
            color: $colorLight
            &:hover
                background-color: $colorMain
    &-block
        background-color: $colorMain
        &__image
            background-color: $colorLight
        &__name
            border-left: 2px solid $colorLight
        &__arrow
            border-right: 2px solid $colorLight
            border-top: 2px solid $colorLight
    &-stage
        &__line
            &-inner
                background-color: $colorWhite
            &--active
                background-color: $colorGreen
    &-popup__inner
        background-color: $colorMain
        color: $colorLight 

// tooltip
.tooltip
    background: $colorGreen
    color: $colorLight
