include ./blocks/welcome
include ./blocks/services
include ./blocks/about
include ./blocks/gallery
include ./blocks/feedback
include ./blocks/footer

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")    
        //meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title Gulp
        // default css
        link(rel="stylesheet" href="./css-min/default.min.css")
        // normalize css
        link(rel="stylesheet" href="./css-min/normalize.min.css")
        // style css
        link(rel="stylesheet" href="./css-min/style.min.css")
        // fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  
body  
    .page    
        +welcome
        +services
        +about
        +gallery
        +feedback
        +footer
script(src="./js-bundle/main.bundle.js")