//- about.pug
mixin about
    section.about(id="blockAbout" itemscope itemtype="https://schema.org/AboutPage")
        article.about__inner(itemprop="mainEntity" itemscope itemtype="https://schema.org/WebPageElement")
            .about__item
                h2.about__title(itemprop="headline") Почему выбирают нас?
                p.about__description(itemprop="description") С нами надежно и просто. Мы с радостью сотрудничаем как с владельцами сотен частных домовладений по всей Ленобласти, так и с крупнейшими компаниями, доверяющими нам свои деревья в том числе и в других городах нашей страны.
        
        article.about__inner(itemprop="mainEntity" itemscope itemtype="https://schema.org/WebPageElement")
            .about__item
                h2.about__title(itemprop="headline") Что мы можем предложить?
                each desc in ['Мы готовы выполнять как комплексные решения под ключ, так и следующие услуги по отдельности:', 'Спил деревьев частями, удаление аварийных деревьев, валка деревьев целиком.', 'Все виды обрезки любых пород деревьев.', 'Измельчение веток, стволов. Фрезеровка и выкорчевка пней.', 'Ветрозащита и каблинг.', 'Обследование, диагностика состояния деревьев. Уход и лечение деревьев. Внутристволовые инъекции, аэрация почвы, внесение удобрений.']
                    p.about__description(itemprop="description")= desc
        
        article.about__inner(itemprop="mainEntity" itemscope itemtype="https://schema.org/WebPageElement")
            .about__item
                h2.about__title(itemprop="headline") Немного о нас
                each desc in ['Наш коллектив сложился в 2017 году.', 'Всю нашу карьеру мы непрерывно учимся и совершенствуем свои навыки для того, чтобы ваши деревья были безопасны, здоровы и ухожены.']
                    p.about__description(itemprop="description")= desc
        
        section.about__inner(aria-label="Наши партнеры")
            .about__item-title Наши партнёры:
            .about__item.about__item--collab(itemscope itemtype="https://schema.org/Organization")
                each partner in ['dvorets', 'gaz', 'igora', 'kolledj', 'lukoil', 'olymp', 'repino', 'rjd', 'sibur', 'stroi', 'tochka', 'vuoksa']
                    .about__collab(itemprop="brand" itemscope itemtype="https://schema.org/Organization")
                        img.about__collab-img(src=`../images-min/about/${partner}.jpg` alt=`Логотип партнера ${partner}` loading="lazy" width="120" height="80" itemprop="logo")