//- feedback.pug
mixin feedback
    section.feedback(id="blockFeedback" itemscope itemtype="https://schema.org/ContactPage")
        h2.feedback__title Связь с нами
        .feedback__inner(itemprop="mainEntity" itemscope itemtype="https://schema.org/WebPageElement")
            form.feedback-form(method="POST" action="/submit" itemscope itemtype="https://schema.org/ContactPoint")
                .feedback-form__inner
                    label.feedback-form__label(for="name") Имя
                    input#name(type="text" placeholder="Иван" name="name" required itemprop="name").feedback-form__textform.textform
                
                .feedback-form__inner
                    label.feedback-form__label(for="phone") Телефон
                    input#phone(type="tel" placeholder="+7(123)-456-78-90" name="phone" required itemprop="telephone").feedback-form__textform.textform
                
                .feedback-form__inner
                    label.feedback-form__label(for="email") Почта
                    input#email(type="email" placeholder="example@mail.ru" name="email" itemprop="email").feedback-form__textform.textform
                
                .feedback-form__inner
                    label.feedback-form__label(for="service") Услуга
                    select#service(name="service" required).feedback-form__textform.textform
                        option(value="Спил деревьев") Спил деревьев
                        option(value="Обрезка деревьев") Обрезка деревьев
                        option(value="Удаление пней") Удаление пней
                
                .feedback-form__button-inner
                    button.feedback-form__button.button(type="submit" itemprop="potentialAction") Подать заявку