//- gallery.pug
mixin gallery
    section.gallery(id="blockGallery" itemscope itemtype="https://schema.org/ImageGallery")
        h2.gallery__title Наши работы
        .gallery__inner
            button.gallery__arrow.gallery__arrow--left(aria-label="Предыдущее изображение")
            figure.gallery__item(itemprop="image" itemscope itemtype="https://schema.org/ImageObject")
                img.gallery__item-img(src="https://lipsum.app/id/6/1920x1080" alt="Пример наших работ" loading="lazy" width="800" height="450" itemprop="contentUrl")
                figcaption.gallery__item-caption(itemprop="description") Профессиональный спил дерева
            button.gallery__arrow.gallery__arrow--right(aria-label="Следующее изображение")