mixin servicesNav
    .services-nav
        .services-nav__inner
            a.services-nav__logo(href="../index.html")
                img(src="../images-min/logo/logo-main.png")
            a.services-nav__phone(href="#") +7(123)-456-78-90
        .services-nav__links
            a.services-nav__link(href="#") Заказ