mixin welcome
    section.welcome(role="banner" itemscope itemtype="https://schema.org/WPHeader")
        nav.welcome__nav(aria-label="Основная навигация")
            .welcome__nav-left
                a.welcome__nav-logo(href="/" aria-label="Логотип компании" itemprop="logo")
                    img(src="../images-min/logo/logo-main.png" alt="Логотип лесозаготовительной компании" width="32" height="32" loading="lazy")
                a.welcome__nav-phone(href="#") +7(123)-456-78-90
            button.mobile-menu(aria-label="Меню" aria-expanded="false" aria-controls="main-menu")
                span.mobile-menu__line(aria-hidden="true")
                span.mobile-menu__line(aria-hidden="true")
                span.mobile-menu__line(aria-hidden="true")
            ul.welcome__nav-links#main-menu(role="menubar")
                li(role="none")
                    a.welcome__nav-link(href="#blockServices" role="menuitem") Услуги
                li(role="none")
                    a.welcome__nav-link(href="#blockAbout" role="menuitem") О нас
                li(role="none")
                    a.welcome__nav-link(href="#blockGallery" role="menuitem") Галерея
                li(role="none")
                    a.welcome__nav-link(href="#blockFeedback" role="menuitem") Связь
        .welcome__inner(itemscope itemtype="https://schema.org/Organization")
            h1.welcome__title(itemprop="name") Эксперты в лесных работах
            p.welcome__subtitle(itemprop="description") Удаление, обрезка и утилизация деревьев с гарантией качества
            .welcome__button-inner
                a.welcome__button.button(href="#blockFeedback" role="button" aria-label="Рассчитать стоимость услуг") Рассчитать стоимость
            .welcome__tabs
                .welcome__tab-inner
                    .welcome__tab-number 8 лет
                    .welcome__tab-text опыта
                .welcome__tab-inner
                    .welcome__tab-number 200+
                    .welcome__tab-text постоянных
                    .welcome__tab-text клиентов
                .welcome__tab-inner
                    .welcome__tab-number 150+ 
                    .welcome__tab-text новых клиентов
                    .welcome__tab-text ежегодно
                .welcome__tab-inner
                    .welcome__tab-number 4000+
                    .welcome__tab-text обработанных
                    .welcome__tab-text деревьев
                
