mixin welcome
    .welcome
        .welcome__nav
            .welcome__nav-logo 
                img(src="../images-min/logo/logo.png")
            .welcome__nav-links
                a.welcome__nav-link(href="#blockServices") Услуги
                a.welcome__nav-link(href="#blockAbout") О нас
                a.welcome__nav-link(href="#blockGallery") Галерея
                a.welcome__nav-link(href="#blockFeedback") Связь
        .welcome__inner 
            .welcome__title Эксперты в лесных работах
            .welcome__subtitle Удаление, обрезка и утилизация деревьев с гарантией качества
            .welcome__button-inner
                a.welcome__button.button(href="#blockFeedback") Рассчитать стоимость
