.about
    &__inner
        padding: 40px 160px
    &__item
        &--collab
            display: flex
            justify-content: space-around
    &__title
        font-size: 2rem
        font-weight: bold
        margin-bottom: 16px
    &__description
        margin-top: 8px
        line-height: 1.2
    &__collab
        width: 128px
        height: 128px
        border-radius: 50%