.feedback
    padding: 80px 160px
    &__inner
        padding: 32px
        //border-radius: 16px
    &__title
        margin-bottom: 80px
    &-form
        &__inner
            margin-bottom: 16px
        &__label
            margin-bottom: 8px
            font-weight: bold
            display: block
        &__button
            margin: 0 auto
            &-inner
                display: flex