.footer
    display: flex
    padding: 16px 160px
    justify-content: space-between
    font-size: 1.618rem
    &__inner
        display: flex
    &__contacts
        display: flex
    &__contact
        width: 64px
        height: 64px
        border-radius: 50%
        margin-left: 16px
        &-img
            width: 100%
            height: auto
            border-radius: 50%
            border: 1px solid #154430 
    &__logo
        width: 48px
        height: 48px
        border-radius: 50%
        margin-right: 32px
        & > img
            width: 48px
            height: 48px
    &__info
        line-height: 48px
        