.reviews
    padding: 16px 160px
    &__title
        font-size: 2.618rem
    &__inner
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 32px
        margin-top: 32px
    &__item
        margin-top: 32px
        padding: 16px
    &__header
        display: flex
        &-logo
            margin-right: 32px
            & > img
                border-radius: 50%
        &-name
            line-height: 64px