.service    
    &__welcome
        width: 100%
        height: calc(100vh - 80px)
        background-image: url(../../images-min/welcome/welcome.png) 
        display: flex
        flex-direction: column
        justify-content: center
        &-title
            margin: 0 auto
            font-size: 2.618rem 
            font-weight: bold
            position: relative
            margin-top: 0    
            text-transform: uppercase
            //mix-blend-mode: difference
        &-subtitle
            margin: 16px auto 64px
            font-size: 1rem
            position: relative
            //mix-blend-mode: screen
            //z-index: 20
    // popup
    &-popup
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 20
        backdrop-filter: blur(20px)
        display: none
        opacity: 0
        transition: all .4s linear
        &__background
            width: 100%
            height: 100%
        &__inner
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            padding: 40px
        &__label
            margin-bottom: 8px
            display: block
            cursor: pointer
        &__form
            margin-bottom: 16px
            &:last-child
                margin-bottom: 0
            &-group
                margin-bottom: 16px
        &__button
            margin: 0 auto
        &.active
            display: block
        &.fade-in
            opacity: 1